.main
{
	text-align: center;
}
.header{
	float:right;
	margin:10px;
}

.logo img
{
	margin-top: 10%;
	width:400px;
	text-align: center;
	height:150px;
}
.search-box input
{
	border-color: 1px solid lightgray;
	box-shadow: none;
	background: url("mic.png")right no-repeat;
	background-size:12px;
    height: 10px;
  
	border-radius: 25px;
	width: 600px;
	height: 42px;
	margin-bottom:30px

}
.btn button
{
	width:auto;
	height:45px;
	margin-right:10px;
	color:#646464;
	border-radius:5px;
	border:none;
}
/*.footer-links{
	bottom:0;
	background-color:#f2f2f2
	font-size:10pt;
	height: 35px
	position:absolute;
	width: 100%

}
*/

.footer-left{
	float:left;
}
.footer-right{
	float:right;
}
