{% load static %}
<!doctype html>
<html>
	<head>



		<link rel="stylesheet" href= {% static 'user/css/style.css' %}>
		<title>Google</title>
	</head>
	<body>
		<div class="header">
			<a href="#">Gmail</a>
			<a href="#">Images</a>
			<button>Sign In</button>
			
		</div>

	<div class="main">
			<div class="logo">
{#				<img src="{% static 'download.png' %}" alt="logo">#}

                <img src="{% static 'user/img/download.png' %}" alt="logo">

			</div>
			<div class="search-box">
				<div>
				<input type="text" name="search" placeholder="">
			</div>


			</div>
			<div class="btn">
				<button onkeyup="popup()">Google Search</button>

				<button onclick="pop()">I'm Feeling Lucky</button>
			</div>
			<div class="language">
				<p>Google offered in:<a href="url">नेपाली</a></p>
			</div>	
	</div>
	<div class="footer">
		<div class="country">
			<span>Nepali</span>
		</div>

		<div class="footer-links">
			<nav class="footer-left">
				<a href="#">Advertising</a>
				<a href="#">Business</a>
				<a href="#">About</a>
			</nav>
			<nav class="footer-right">
				<a href="#">Privacy</a>
				<a href="#">Terms</a>
				<a href="#">Settings</a>
			</nav>
		</div>
	</div>
			

	</body>
	<script type="text/javascript" src="custom.js"></script>
</html>
